@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

body {
  font-family: "Afacad Flux", sans-serif;
  
}

header {
  position: fixed;
  background-color: white;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  z-index: 1000;
  border-bottom: solid 3px black;
  left: 0;
  right: 0;
  top: 0;
}

.menu_hamburger {
display: none;
}

.logo {
zoom: 3;
position: relative;
top: 3px;
left: 3px;
}

.logo {
height: 100px;
width: 100px;
}

nav {
width: 50%;
}

nav > ul {
display: flex;
justify-content: space-around;
list-style-type: none;
}

nav > ul > li > a {
text-decoration: none;
color: black;
font-family: "Kanit", sans-serif;
font-weight: 400;
font-style: normal;
}

nav > ul > li > a:hover {
color: #7353ff;
}

main {
  height: auto;
}

.titre {
  position: relative;
  top: 120px;
  display: flex;
  justify-content: center;
}

.titre > h1 {
  font-size: 3rem;
}

.titre > h1 > span {
  color: rgb(115, 84, 255);
}

.container {
  padding-top: 200px;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 30%;
  align-content: space-between;
  justify-content: center;
  gap: 4rem;
}

.container > section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 400px;
  box-shadow: 0px 0px 5px black;
  border-radius: 8px;
  background-image: url("../images/image1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2s;
  cursor: pointer;
}

.container > section:hover {
  background-color: rgba(0, 0, 0, 0.6);
  filter: brightness(40%);
  transition: 0.2s;
}

.contImg > p {
  display: block;
  color: black;
  font-size: 2.5rem;
  transition: 0.2s;
}

.container > section:hover > .contImg > p {
  display: block;
  transform: 0.2s;
}

.partie2 {
  margin-top: 50px;
  border-top: solid 2px black;
  opacity: 0;
  transform: translateY(50%);
  transition: transform 1s ease, opacity 1s ease;
}

.partie2 > section {
  margin-top: 50px;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.innerFirst {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-content: center;
  border: solid 2px black;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 10px 10px rgb(115, 84, 255);
}

.innerFirst > section {
  display: flex;
  flex-direction: row;
  height: 100%;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  color: black;
}

h2::after {
  content: "équipe";
  padding-left: 10px;
  color: rgb(115, 84, 255);
}

.textOne {
  width: 25%;
  height: auto;
  padding-left: 50px;
  z-index: 1;
  position: relative;
  left: 20px;
}

.textTwo {
  width: 25%;
  height: auto;
  text-align: end;
  padding-right: 50px;
  z-index: 1;
  position: relative;
  right: 20px;
}

.imgOne {
  background-image: url("../images/Project_44-08.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 60%;
  height: 100%;
}

.innerSecond {
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 20px;
  width: 70%;
}

.innerSecond > section {
  height: 400px;
  width: 30%;
  border: solid 2px black;
  display: flex;
  justify-content: center;
}

.middle {
  box-shadow: 0px 15px rgb(115, 84, 255);
  border-radius: 10px;
}

.left {
  box-shadow: -15px 15px rgb(115, 84, 255);
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.right {
  box-shadow: 15px 15px rgb(115, 84, 255);
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.innerThird {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 50%;
  border: solid 2px black;
  background-image: url('../images/greenDev.jpg');
  background-position: 80% 60%;
  background-repeat: no-repeat;
  background-size: 45%;
  box-shadow: 0px 10px rgb(115, 84, 255);
  border-radius: 10px;
}

h3 {
  width: 60%;
  font-size: 2rem;
  border-radius: 10px;
  padding: 10px 20px;
}

h3 > span {
  color: rgb(115, 84, 255);
  text-decoration: underline;
}

.innerThird > section {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100%;
  width: 65%;
  margin-top: 50px;
}

.innerThird > section > a {
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  background-color: rgb(115, 84, 255);
  border-radius: 10px;
  font-size: 2rem;
  box-shadow: 0px 7px rgb(173, 154, 255);
  transition: 0.1s;
  margin-bottom: 30px;
}

.innerThird > section > a:active {
  transition: 0.1s;
  transform: translateY(7px);
  box-shadow: none;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 10rem;
}

.item {
  width: 30%;
  margin: auto;
}

.item > ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.item > ul > li {
  list-style-type: none;
  font-size: 2rem;
  color: #7353ff;
}

.droit {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0rem 2rem 2rem 2rem;
  box-sizing: border-box;
}

.droit > a {
  text-decoration: none;
  color: black;
  font-family: "Afacad Flux", sans-serif;
}