@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

body {
  font-family: "Afacad Flux", sans-serif;
}

header {
  position: fixed;
  background-color: white;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  z-index: 1000;
  border-bottom: solid 3px black;
  left: 0;
  right: 0;
  top: 0;
}

.menu_hamburger {
display: none;
}

.logo {
zoom: 3;
position: relative;
top: 3px;
left: 3px;
}

.logo {
height: 100px;
width: 100px;
}

nav {
width: 50%;
}

nav > ul {
display: flex;
justify-content: space-around;
list-style-type: none;
}

nav > ul > li > a {
text-decoration: none;
color: black;
font-family: "Kanit", sans-serif;
font-weight: 400;
font-style: normal;
}

nav > ul > li > a:hover {
color: #7353ff;
}

.partie2 {
  position: fixed;
  background-color: rgb(115, 84, 255);
  height: 50px;
  right: 3vw;
  left: 3vw;
  bottom: 0;
  z-index: 2;
  border-top: solid 3px rgb(51, 27, 233);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 0.5s ease;
  display: flex;
  align-items: end;
  justify-content: end;
}

.team {
  display: none;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 100%;
  text-align: center;
  width: 80%;
}

h1 {
  font-size: 2rem;
  border: solid 2px white;
  padding: 10px 20px;
  border-bottom-right-radius: 10px;
  box-shadow: 5px 5px rgb(255, 255, 255), -5px -5px white;
}

.team > section {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.team > section > .profil {
  padding: 10px 20px;
  width: 8vw;
  font-size: 1.3rem;
  height: 200px;
  border: solid 2px white;
}

.person1 {
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: -5px 5px white;
}

.person2 {
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 5px 5px white;
}

.team > a {
  text-decoration: none;
  color: #7353ff;
  background-color: white;
  padding: 10px 20px;
  font-size: 1.3rem;
  border-radius: 8px;
  margin-top: 20px;
}

.team > a:hover {
  background-color: rgb(211, 211, 211);
}

.partie1.expanded {
  height: 500px;
}

.expanded .team {
  display: flex;
  transition: 1s;
}

.menu-toggle {
  z-index: -1;
  background-color: rgb(0, 0, 0);
  border: none;
  padding: 8px 20px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  margin-right: 10px;
  position: relative;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.container {
  padding-top: 200px;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 30%;
  align-content: space-between;
  justify-content: center;
  gap: 4rem;
}

.container > section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 400px;
  box-shadow: 0px 0px 5px black;
  border-radius: 8px;
  background-image: url("../images/image1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2s;
  cursor: pointer;
}

.container > section:hover {
  background-color: rgba(0, 0, 0, 0.6);
  filter: brightness(40%);
  transition: 0.2s;
}

.contImg > p {
  display: block;
  color: black;
  font-size: 2.5rem;
  transition: 0.2s;
}

.container > section:hover > .contImg > p {
  display: block;
  transform: 0.2s;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 10rem;
}

.item {
  width: 30%;
  margin: auto;
}

.item > ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.item > ul > li {
  list-style-type: none;
  font-size: 2rem;
  color: #7353ff;
}

.droit {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0rem 2rem 2rem 2rem;
  box-sizing: border-box;
}

.droit > a {
  text-decoration: none;
  color: black;
  font-family: "Afacad Flux", sans-serif;
}

@media screen and (max-width: 1500px) {
  main {
    flex-wrap: wrap;
  }
}