header {
  position: fixed;
  background-color: white;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  z-index: 1000;
  border-bottom: solid 3px black;
}

.menu_hamburger {
display: none;
}

.logo {
zoom: 3;
position: relative;
top: 3px;
left: 3px;
}

.logo {
height: 100px;
width: 100px;
}

nav {
width: 50%;
}

nav > ul {
display: flex;
justify-content: space-around;
list-style-type: none;
}

nav > ul > li > a {
text-decoration: none;
color: black;
font-family: "Kanit", sans-serif;
font-weight: 400;
font-style: normal;
}

nav > ul > li > a:hover {
color: #7353ff;
}

main {
  padding-top: 200px;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 30%;
  align-content: space-between;
  justify-content: center;
  gap: 15px;
}

main > section {
  width: 300px;
  border: solid 2px black;
  height: 200px;
}

@media screen and (max-width: 1500px) {
  main {
    flex-wrap: wrap;
  }
}