@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: "Afacad Flux", sans-serif;
}

span {
  color: rgb(115, 83, 255);;
}

header {
    position: fixed;
    background-color: white;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
    z-index: 1000;
    border-bottom: solid 3px black;
}

.menu_hamburger {
  display: none;
}

.logo {
  zoom: 3;
  position: relative;
  top: 3px;
  left: 3px;
}

.logo {
  height: 100px;
  width: 100px;
}

nav {
  width: 50%;
}

nav > ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

nav > ul > li > a {
  text-decoration: none;
  color: black;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav > ul > li > a:hover {
  color: #7353ff;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-top: 13vh;
}

.inMain {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  align-items: center;
}

.haut {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  color: black;
}

.mid {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 100px;
}

.mid > section {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 500px;
  width: 25%;
  border-radius: 20px;
}

.subIm1 {
  background: url("../images/prices.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}

.subIm2 {
  background: url("../images/rules.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

/*
  Largest contentful pain subImg2
*/

.subIm3 {
  background: url("../images/tasklisting.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
}

.subSec {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subSec > h3 {
  margin-top: 10px;
  display: grid;
  justify-content: center;
  color: black;
}

.subSec > div {
  margin-top: 20px;
  text-align: center;
  width: 80%;
}

.scrollButton {
  background-color: rgb(115, 83, 255);
  color: white;
  border: none;
  width: auto;
  font-size: 30px;
  margin-top: 30px;
  padding: 5px 60px;
  border-radius: 10px;
  cursor: pointer;
}

.border {
  border-top: solid 2px black;
  width: 80%;
  position: relative;
  padding-bottom: 8rem;
}

.bas {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  position: relative;
  margin-bottom: 10rem;
}

.bas1 {
  display: flex;
  justify-content: space-around;
  position: relative;
  height: 320px;
  width: 45%;
  align-items: center;
  border: solid 2px rgb(115, 83, 255); 
  margin-bottom: 100px;
  border-radius: 15px;
  box-shadow: 0px -20px rgb(115, 83, 255);
}

.first,
.second,
.third {
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 1s ease, opacity 1s ease;
  height: 600px;
  width: 850px;
  display: flex;
  flex-direction: column;
}

.third {
  height: auto;
  gap: 10px;
  box-shadow: none;
  border: none;
}

.art1,
.art2 {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.img1 {
  background: url("../images/value.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50%;
  height: 300px;
}

.art1 > section,
.art2 > section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

article > section > h4 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.basText1 {
  position: relative;
  right: 30px;
  width: 100%;
  font-size: 1.4rem;
}

.art2 > section > h4 {
  position: relative;
  left: 140px;
}

.basText2 {
  position: relative;
  left: 30px;
  width: 100%;
  text-align: end;
  font-size: 1.4rem;
}

.artSec1,
.artSec2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
}

.artSec1 > section {
  width: 60%;
  padding: 0 0 0 20px;
}

.artSec1 > section > h4 {
  font-size: 2.4rem;
}

.artSec1 > section > h4 > span {
  color: rgb(115, 84, 255);
}

.artSec2 {
  display: flex;
  align-items: start;
}

.artSec2 > section {
  padding: 10px 10px 0px 10px; 
  margin: 0px 10px 0 10px;
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
  position: relative;
  top: 10px;
  background-color: rgb(115, 84, 255);
  border-radius: 10px;
  color: white;
}

.artSec2 > section > h5 {
  font-size: 1.9rem;
  display: flex;
}

.basText3 {
  width: 100%;
  font-size: 2rem;
}

.basText4,
.basText5 {
  font-size: 1.5rem;
  width: 100%;
}

.second2 {
  background: url("../images/value.jpg");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
}

.artThir1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 320px;
  border-top: solid 4px rgb(115, 84, 255);
}

.artThir2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 60%;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: solid 4px rgb(115, 84, 255);
}

.artThir1 > h4 {
  font-size: 3.5rem;
}

.artThir1 > h4 > span {
  color: rgb(115, 84, 255);
}

.artThir1 > div > p {
  padding-top: 20px;
  display: flex;
  text-align: center;
  font-size: 2rem;
  width: 100%;
}

.artThir2 > section {
  /*border: solid 2px rgb(115, 84, 255);
  border-radius: 10px;*/
  width: 100%;
  padding: 10px;
}

@media screen and (min-width: 1350px) {
  .subIm1 {
    background-size: 200px;
  }

  .subIm2 {
    background-size: 250px;
  }

  .subIm3 {
    background-size: 300px;
  }
}

.fourth {
  display: flex;
}

.contact {
  text-decoration: none;
  color: white;
  background-color: rgb(115, 83, 255);
  padding: 10px 30px;
  font-size: 1.8rem;
  border-radius: 10px;
  box-shadow: 0px 7px rgba(114, 83, 255, 0.644);
  transition: 0.1s;
  position: relative;
}

.contact:active {
  transition: 0.1s;
  box-shadow: none;
  transform: translateY(7px);
}

.après,
.avant {
  margin-left: 15px;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform: translateX(0);
  opacity: 1;
  transition: 0.5s;
  display: inline-block;
  font-weight: bold;
  color: white;
  animation: sliding 10s infinite;
}

.après {
  animation: slidingReverse 10s infinite;
}

.avant {
  margin-right: 15px;
  margin-left: 0;
}

.contact:active .après,
.contact:active .avant {
  transition: 0.5s;
  transform: translateX(30px);
  opacity: 0;
}

.border {
  border-top: solid 2px black;
  width: 80%;
  position: relative;
  margin: auto;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  box-sizing: border-box;
}

.item {
  width: 30%;
  margin: auto;
}

.item > ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.item > ul > li {
  list-style-type: none;
  font-size: 2rem;
  color: #7353ff;
}

.droit {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0rem 2rem 2rem 2rem;
  box-sizing: border-box;
}

.droit > a {
  text-decoration: none;
  color: black;
  font-family: "Afacad Flux", sans-serif;
}

.item > ul > li  {
  color: #7353ff;
}

@media screen and (max-width: 1200px) and (min-width: 901px) {
  .haut {
    padding-top: 100px;
  }

  .mid {
    padding-top: 50px;
  }

  .border {
    border-top: solid 2px black;
    width: 80%;
    position: relative;
    margin: auto;
    top: 3vh;
    height: 10vh;
  }  
}


@keyframes sliding {
  20% {
    transform: translateX(10px);
  }

  40% {
    transform: translateX(-10px);
  }

  60% {
    transform: translateX(10px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes slidingReverse {
  20% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(10px);
  }

  60% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0px);
  }
}

/* font awesome */

.service-item {
  list-style: none;
  border: solid 3px rgb(115, 84, 255);
  border-radius: 10px;
  padding: 10px;
}

.toggle-checkbox {
  display: none;
}

.service-header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.service-header > h5,i {
  font-size: 2.5rem;
  font-weight: 700;
  font-style: normal;
}

.chevron {
  margin-right: 8px;
  transition: transform 0.3s ease;
  color: #7353ff;
}

.over {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.toggle-checkbox:checked + .service-header .chevron {
  transform: rotate(90deg);
}

.toggle-checkbox:checked ~ .over {
  max-height: 480px; 
  opacity: 1;
  margin-top: 5px;
}

.description {
  width:  100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
}

.services {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-right: 8rem;
  padding-left: 8rem;
  gap: 4rem;
} 

.services section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-right: auto;  
}

.over > p {
  font-family: "Afacad Flux", sans-serif;
  font-style: normal;
  font-size: 1.8rem;
  height: auto;
}

.over {
  height: auto;
  margin: none;
}