.haut {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  color: black;
  zoom: 1.4;
}

.mid {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 100px;
  zoom: 1.4;
}

.nav-links.active {
  margin-left: 0;
}

.bas1 {
  zoom: 1.1;
}

@media screen and (min-width: 2200px) {
  .bas1 {
    zoom: 1.3;
  }
}