.premiere {
  zoom: 0.55;
}

.troisieme {
  zoom: 0.85;
}

.inPresent1 {
  flex-direction: column;
}

@media screen and (max-width: 500px) {
  .partie2 {
    margin-top: 15vh;
  }

  .textOne,
  .textTwo {
    width: 35%;
  }

  .textOne {
    left: 2rem;
  }

  .textTwo {
    right: 2rem;
  }

  .premiere {
    zoom: 0.8;
  }
  
  /*.deuxieme {
    zoom: 0.7;
  }*/

  .troisieme {
    zoom: 0.8;
  }
}

@media screen and (max-width: 425px) {
  .premiere {
    zoom: 0.7;
  }

  .innerFirst {
    background-image: url('../images/Project_44-08.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
  }

  .imgOne {
    background-image: none;
  }
  
  /*.deuxieme {
    zoom: 0.6;
  }*/

  .troisieme {
    zoom: 0.7;
  }

  footer {
    zoom: 0.8;
  }

  .present {
    zoom: 0.6;
  }
}

@media screen and (max-width: 380px) {
  .premiere {
    zoom: 0.65;
  }

  .present {
    zoom: 0.5;
  }

  .textOne {
    font-size: 1.18rem;
  }

  .textTwo {
    font-size: 1.28rem;
  }
}

@media screen and (max-width: 340px) {
  .premiere {
    zoom: 0.6;
  }
  
  /*.deuxieme {
    zoom: 0.6;
  }*/

  .troisieme {
    zoom: 0.6;
  }

  footer {
    zoom: 0.6;
  }
}