h2 {
  padding-top: 80px;
}

.mid {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inMain {
  height: 150vh;
}

.mid > section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  width: 50%;
  height: 350px;
}

.subIm1,
.subIm2,
.subIm3 {
  width: 220px;
  height: 220px;
  background-size: contain;
}

.scrollButton {
  background-color: rgb(115, 83, 255);
  color: white;
  border: none;
  width: auto;
  font-size: 30px;
  margin-top: 10px;
  padding: 5px 60px;
  border-radius: 10px;
}

.deux {
  padding: 5px 40px;
}

.trois {
  padding: 5px 50px;
}

.bas1 {
  display: flex;
  justify-content: space-around;
  position: relative;
  height: 300px;
  width: 80%;
  align-items: center;
  border: solid 2px rgb(115, 83, 255); 
  margin-bottom: 100px;
  border-radius: 15px;
  box-shadow: 0px -20px rgb(115, 83, 255);
}

.img1 {
  background: url("../images/value.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  width: 300px;
  height: 40vw;
}

.bas1 > section > div > p {
  position: relative;
  right: 10px;
  width: 45vw;
  font-size: 3vw;
}

h4 {
  font-size: 4vw;
}

@media screen and (min-width: 701px) {
  .subSec {
    width: 40vw;
  }

  .subSec > div > p {
    font-size: 2.1vw;
  }

  h3 {
    font-size: 3vw;
  }

  .subIm1,
  .subIm2,
  .subIm3 {
    width: 250px;
    height: 250px;
    background-size: contain;
  }
  .bas1 > section > div > p {
    font-size: 22px;
    width: 48vw;
  }
}