.texte {
    padding-top: 2rem;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.border {
    display: none;
}

.containerTexte {
    width: 100%;
    height: 50%;
    padding-top: 5rem;
}

.texte1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.image_container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    overflow: hidden;
 }
 
.image_container > section > img {
    object-fit: cover;
}

.image_container > section{
    width: 50vh;
    height: 100vh;
    border-radius: 50px;
}

