.texte {
    padding-top: 2rem;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.containerTexte {
    width: 100%;
    height: 50%;
    padding-top: 5rem;
}

.texte1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.image_container {
    display: flex;
    flex-direction: column; 
    overflow: hidden;
    padding: 0%;
 }
 
.image_container > section > img {
    object-fit: cover;
    width: 80vw;
    height: 60vh;
}


.menu_hamburger {
    display: block;
    z-index: 2;
    margin-left: auto;
    height: 3rem;
    right: 0.5rem;
    top: 0.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
}

.nav-links {
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(39, 38, 38, 0.656);
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -100vw;
    transition: all 0.5s ease-in-out;
    z-index: 1;
}

.mobile-menu {
    margin-left: 0;
}

.nav-links > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
    padding: 0%;
}

.nav-links > ul > li > a {
    color: white;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

.texte2 {
    padding: 1rem;
}

.texte2 > p{
    font-size: 1rem;
}

.texte2 > h1{
    font-size: 2rem;
}


.sectionProjet {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    gap: 4rem;
    padding: 0rem 4rem 4rem 4rem;
    box-sizing: border-box;
}

.section {
    width: 100%;
    height: 40vh;
    overflow: hidden;
    border-radius: 50px;
    position: relative;
}

.scrollButton {
    background-color: rgb(115, 83, 255);
    color: white;
    border: none;
    width: auto;
    font-size: 1.5rem;
    margin-top: 30px;
    padding: 5px 60px;
    border-radius: 10px;
}

.sectionImage .text {
    color: white;
    font-size: 24px;
    text-align: center;
    opacity: 1;
    transition: none;
}


.sectionImage .overlay {
    opacity: 1;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 10rem;
  }
  
  .item {
    width: 30vh;
    margin: auto;
    box-sizing: border-box;
  }
  
  .item > ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
  }
  
  .item > ul > li {
    list-style-type: none;
    font-size: 2rem;
    color: #7353ff;
  }
  
  .droit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 100%;
    padding: 0rem 2rem 2rem 2rem;
    box-sizing: border-box;
  }
  
  .droit > a {
    text-decoration: none;
    color: black;
    font-family: "Afacad Flux", sans-serif; 
  }
  


